body{
    background-color: deeppink;
    font-family: Arial, Helvetica, sans-serif;
}

#mainHeading{ 
    color: rgb(255, 255, 255);
}

#sideheading{
    color: rgb(255, 255, 255);
}

#introtext{
    width: 471px;
    float: left;
}

.reset{
    clear: both;
}

#hobbies{
    width: 380px;
    float: left;
    color: rgb(255, 255, 255);
}

#meme{
    float: left;
    
}

#pageContainer{
    width: 1029px;
    margin: 0px auto 0px auto;
}

#navigation{
    color: rgb(255, 255, 255);
}

#pageContainer{
    color: black;
}