body{
    background-color: deeppink;
    font-family: Arial, Helvetica, sans-serif;
}

#mainHeading{ 
    color: rgb(255, 255, 255);
}

#sideheading{
    color: rgb(255, 255, 255);
}

#introtext{
    width: 450px;
    float: left;
}

#pfp{
    float: right;
    width: 250px;
    height: 300px;
}

.reset{
    clear: both;
}

#hobbies{
    width: 420px;
    float: right;
    color: rgb(255, 255, 255);
}

#heroShot{
    float: left;
    width: 300px;
    height: 250px;
}

.reset{
    clear: both;
}

#discord{
    float: left;
    margin: 50px;
    width: 100px;
    height: 100px;
}

#spotify{
    float: left;
    margin: 50px;
    width: 100px;
    height: 100px;
}

#meme{
    float: right;
    margin: 150px;
    width: 300px;
    height: 300px;
}

#pageContainer{
    width: 1029px;
    margin: 0px auto 0px auto;
}

#navigation{
    color: rgb(255, 255, 255);
}

#pageContainer{
    color: black;
}